.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  max-width: 200px;
  max-height: 200px;
  border-radius: 4px;
  background-color: lightblue;
  cursor: pointer;
  transition: all 0.2s;
  padding: 10px;
}

.nav-bar {
 display: flex;
 justify-content: center;
 gap: 10px;
 margin-bottom: 10px;
 padding-bottom: 5px;
}
.navbar-frame{
  background-color: whitesmoke
}

.center{
  margin-top: 30vh;
}

.third{
  margin-top: 7vh;
}

.player-status{
  display: flex;
  padding-left: 20px;
}

.deck-frame{
  margin-top: 20px;
}

.race-card-frame{
  margin-top: 20px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.race-card-wrapper{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.race-card-body{
  display: grid;
  grid-template-rows: 1fr 4fr;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
  margin: 5px
}

.race-name{
  border-style: solid;
  border-radius: 20px;
  margin-top: -7px;
  margin-left: -7px;
  margin-right: -7px;
  padding-top: 2px;
  font-size: larger;
  background-color: lightblue;
}

.flex-row{
  display: flex;
 justify-content: center;
 gap: 10px;
}

.click-able{
  cursor: pointer;
  transition: all 0.2s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
